-- User --
<div>
  <input type="text" placeholder="User Name" #userName> 
  <button (click)="create_user(userName.value)">Create User</button>
</div>
<br>

-- Group --
<div>
  <input type="text" placeholder="Group Name" #groupName> 
  <button (click)="create_group(groupName.value)">Create Group</button>
</div>
<br>

-- Create New Event --
<div>
  <input type="text" placeholder="Event Name" #eventName>
  <select name="user" placeholder="Owner" ngModel #ownerId>
    <option *ngFor="let userWithId of user_list$ | async" value="{{userWithId.id}}">
      {{userWithId.name}}
    </option>
  </select>
  <select name="group" placeholder="Group" ngModel #groupId>
    <option *ngFor="let groupWithId of group_list$ | async" value="{{groupWithId.id}}">
      {{groupWithId.name}}
    </option>
  </select>
  <input type="date" placeholder="Date" #eventDate>
  <input type="time" placeholder="Time" #eventTime>
  <button (click)="create_new_event(eventName.value, ownerId.value, groupId.value, eventDate.value, eventTime.value)">Create New Event</button>
</div>
<br>

-- Events --
<br>
participant
<input type="text" #Participant>
<ul>
  <li *ngFor="let item of event_list$ | async">
   title : {{ item.info?.title }}<br> 
   id {{item.id}} <br> 
   created_by: {{ item.created_by }} ({{ (item.created_by_name$ | async)?.name }})<br>
   event_date: {{ item.info?.event_date | date }} <br> 
   group_id: {{ item.info?.group_id }} ({{ (item.info.group_name$ | async)?.name }})<br> 
   participant {{ item.participant_arr }} <br>
    <button (click)="edit_event(item.id)"> edit_event </button>
    <button (click)="add_participant(item.id)"> add_participant </button>
  </li>
</ul>

-- Filter --
<div>
  <label>Group:</label>
  <select name="group" placeholder="Group" ngModel #groupFilter>
    <option></option>
    <option *ngFor="let groupWithId of group_list$ | async" value="{{groupWithId.id}}">
      {{groupWithId.name}}
    </option>
  </select>
  <label>User:</label>
  <select name="user" placeholder="User" ngModel #userFilter>
    <option></option>
    <option *ngFor="let userWithId of user_list$ | async" value="{{userWithId.id}}">
      {{userWithId.name}}
    </option>
  </select>
  <input type="date" placeholder="Date" #dateFilter>
  <input type="time" placeholder="Time" #timeFilter>
  <button (click)="filter_event(userFilter.value, groupFilter.value, dateFilter.value, timeFilter.value)">Filter Event</button>
</div>
<br>

-- Login / Logout --
<br>
<button (click)="login()"> login </button>
<button (click)="logout()"> logout </button>
<br>

-- Test --
<br>
<button (click)="test()">Test</button>
<br>
<p>{{ test_user$ | async | json }}</p>
<p>{{ (test_user$ | async)?.name }}</p>
